
body{
    margin: 0;
    padding: 0;
    background-color: #63c3db;
    font-family: Arial, Helvetica, sans-serif;
    
    
}


/* Front Page  */
.top{
    background-image: url("./Images/background.jpeg");
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    height: 100vh;
    text-align: center;
    font-size: 2rem;
}
.top h1{
    margin-left: 2.5rem;
}


.cards{
    margin: 1rem;
    display: flex;
}

.head h3{
    margin: 0.25rem;
    font-size: 1.4rem;
    font-weight: bold;
}



.dis{
    font-size: 1rem;
    margin:0.25rem;
}


.card{
    background-color: #eee;
    border: 5px solid black;
    border-radius: 1rem;
    font-size: 22px;
    text-align: center;
    margin: 0 1rem;
    /* background-color:white; */
    width: 25%;
}

#btn{
    text-align: center;
    margin-bottom: 15px;
}

button{
    margin: 0;
    font-weight: bold;
    text-align: center;
    background-color:#eec739;
    font-size: 1rem;
    border: 3px solid black;
}

.conttop{
    margin: auto;
}


/* Mentor Form  */
.ment{
    background-image: url("./Images/Mentor.jpg");
    background-size: cover;
    padding: 1rem 0rem 4rem 0rem;
}
form{
    width: 50%;
    margin: auto;
}

fieldset{
    margin-top: 2rem;
    border: 5px solid black;
}

legend{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

label{
    font-size: 1.5rem;
    font-weight: bold;
    
}

input[type=text], select , [type=email], textarea {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
  input[type=submit]  {
    font-size: 1rem;
    font-weight: bold;
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 7px 0px 7px 0px;
    margin: 8px ;
    border: none;
    border: 3px solid black;
    border-radius: 1rem;
    cursor: pointer;
  }
  input[type=reset]  {
    font-size: 1rem;
    font-weight: bold;
    width: 50%;
    background-color: rgb(224, 24, 24);
    color: white;
    padding: 7px 0px 7px 0px;
    margin: 8px ;
    border: 3px solid black;
    border-radius: 1rem;
    cursor: pointer;
  }

  .fbtn{
    margin: auto;
    width: 50%;
    display: flex;
  }
  

/* Testinomial  */

.cont {
    
    font-size: 1.25rem;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 1rem;
  }
  
  .cont::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .cont img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .cont span {
    font-size: 1.4rem;
    margin-right: 15px;
  }
  

/* Footer  */

.fcont{
    background-image: url("./Images/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 3rem 1rem 2rem 1rem;
    border: 5px solid black;
    border-radius: 0.75rem;
    color: #000
}

.row{
    display: flex;
    width: 100%;
    margin-right: 2rem;
}

.col{
    margin-left: 3.5rem;
    width: 100%;

}


.contact img{
    max-width: 100%;
}

.contact{
    margin-left: 5rem;
    text-align: center;
    width: 20%;
    border-left: 3px solid #000;
    padding-left: 10%;
    font-weight: 500;
    font-size: 125%;
}

.fa{
    padding-right: 5%;
    color: black;
    margin-bottom: 1.75rem;
}

a{
    text-decoration: none;
    font-size: large;
    color: #000;
    font-weight: bold;
}

a:hover{
    color: rgb(20, 184, 47);
}


@media(max-width: 950px){
    body{
        margin: 0;
    }

    .toptop{
        height: 100vh;
        display: inline;
        text-align: center;
        justify-content: center;
        margin-top: 4rem;
    }

    .top .img{
        margin: 3rem 0 1rem 0;
    }

    .top h1{
       margin: 1rem 0 2rem 0;
        text-align: center;
    }

    #card h2{
        margin-bottom: 1rem ;
    }

    .cards{
        margin: 16px 10px 16px 10px;
        display: inline;
    }

    .card{
        margin: 1rem auto;
        width:90%;
    }
    

    form{
        width: fit-content;
        margin: 10px;
    }


    input [type=submit],[type=reset]  {
        width: 100%;
        text-align: center;
    }

    .fbtn{
        width: 100%;
    }

    .img{
        text-align: center;
    }


    .cont {
        margin:16px 10px 16px 10px;
        text-align: center;
    }
    
    .cont img {
        margin: auto;
        float: none;
        display: block;
    }

    .row{
        display: inline;
    }
    .col{
     margin-left: 1.5rem;
    }

    .fcont{
        margin: 10px;
    }

    .contact{
        width: 100%;
        padding:0;
        margin:0;
        border-left: none;
        border-top: 3px solid black;
        text-align: center;
    }

}